.body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cadastro {
    margin-top: 100px;
    background-image: linear-gradient(45deg, #03bb85, #03a9f4);
    box-shadow: 3px 3px 3px 3px #00000040;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;

}

.campo {
    padding: 15px;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 15px;
    background-color: #ffffffde;
    border-radius: 5px;
    position: relative;
}

.cadenvio {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.cadastro button:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.cadastro h2 {
    font-size: 15px;
    text-align: left;
}

.cadastro div i {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    color: #00000040
}

.cadastro div i:hover {
    color: #00000060
}



.cadastro form {
    text-align: left;
}

.espaco {
    margin-top: 800px;
}

#btn-senha {
    padding-right: 20px;
    padding-top: 4px;
}