

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(163, 201, 223);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #007bff;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 14px;
    color: #777;
}

.profile-details h2 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.profile-details ul {
    list-style: none;
    padding: 0;
}

.profile-details ul li {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.profile-actions {
    margin-top: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-edit {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.btn-logout {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}

button:hover {
    opacity: 0.9;
}

#add-pet-btn {
    position:static;
    margin-left: 50px;
    bottom: 2rem;
    right: 2rem;
    background: #646cff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-pet-btn:hover {
    background: #535bf2;
}